@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: rgb(249, 235, 255);
    word-spacing: 7px;
    z-index: 10;
}

body {
    padding: 1em;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,
            #2754db,
            #87CEEB,
            #4682B4);
    transition: background 0.5s ease;
    z-index: 0;
    overflow: hidden;
}
.filtroEscuro{
    width: 100vw;
    height: 100vh;
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 4;
}
.topoinfo {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    margin-top: 0;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid blue;
    height: 5em;
    backdrop-filter: brightness(0.8);
}

.interface {
    align-self: center;
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 2em;
    width: 100%;
    height: 100%;
    padding: 1em;
    position: relative;
    
}

.titmode {
    align-self: center;
    font-size: 5em;
    margin-top: 2%;
    z-index: 90;
}
.opcoesmode{
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}
.opcoesmode .botaocima, .opcoesmode .botaobaixo {
    border-radius: 50%;
    height: 19em;
    width: auto;
    transition: all 0.4s ease;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}
.opcoesmode .botaocima{
    align-self: flex-start;
}
.opcoesmode .botaobaixo{
    align-self: flex-end;
    margin-bottom: 4em;
}

.opcoesmode .botaocima:hover {
    
    margin-top: -2em;
}
.opcoesmode .botaobaixo:hover {
    
    margin-bottom: 2em;
}
.dropdown-content{
    
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20%;
    transition: all 0.4s ease;
}
.botaocima:hover .dropdown-content{
    height: 70%;
    width: 90%;
    top: 100%;
    left: 10%;
    z-index: 1;
}
.dropdown-content2 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    width: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20%;
    transition: all 0.4s ease;
}

.botaobaixo:hover .dropdown-content2 {
    height:70% ;
    width: 90%;
    bottom: 100%;
    left: 10%;
    z-index: 1;
}

.dropdown-content p, .dropdown-content2 p{
    border-radius: 3px;
    width: 100%;
    height: 30%;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15%;
    background-color: #2f7272;
    backdrop-filter: blur(39px) brightness(1.1);
    transition: 0.4s ease;
}
.botaobaixo:hover .dropdown-content2 p, .botaocima:hover .dropdown-content p{
    font-size: 170%;
}
.dropdown-content p:hover, .dropdown-content2 p:hover{
    backdrop-filter: blur(100px) brightness(3);
    border: 1px solid white;
}
.botaooffline{
    cursor: pointer;
    position: absolute;
    left: 5%;
    top: 7%;
    font-size: 150%;
    color: #ffffff;
    width: 10em;
    height: 3em;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    background-color: #2754db8f;
    /*backdrop-filter: blur(7px) brightness(1.2);*/
    transition: 0.1s ease;
}
.botaooffline:hover{
    backdrop-filter: brightness(1.2);
    margin-top: -3px;
}
.aviaomultiplayer{
    position: absolute;
    top: 7em;
    left: 4em;
    width: 30%;
    height: auto;
    z-index: 11;
    border-radius: 40%;
    transition: all 0.2s ease-in-out;
}
.aviaomultiplayer:hover{
    margin-top: -3px;
}
.filtrodopopup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    opacity: 0;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    background-color: rgba(54, 54, 54, 0.753);
    transition: all 0.2s ease-in-out;
}
.popupdemultiplayer{
    height: 0vh;
    width: 0vw;
    overflow: hidden;
    border-radius: 30px;
    padding: 1em;
    position: absolute;
    align-self: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(28, 189, 127, 0.116);
    border: 4px solid rgb(48, 202, 10);
    backdrop-filter:blur(90px);
    transition: width 0.4s ease-in-out;
    z-index: 100;
}
.popupdemultiplayer .titdopop{
    font-size: 400%;
}
.btnsalablock{
    height: 50%;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.botaosala{
    height: 40%;
    width: 40%;
    border-radius: 9px;
    font-size: 300%;
    border: 3px solid rgba(132, 223, 185, 0.671);
    border-radius: 30px;
    background-color: rgba(7, 66, 56, 0.486);
}
.botaosala:hover{
    background-color: rgba(10, 90, 77, 0.486);
    margin-top: -3px;
    border-color: rgba(255, 255, 0, 0.349);
}
.popupdemultiplayer .fechar{
    position: absolute;
    height: 1em;
    width: 1em;
    right: 3%;
    top: 3%;
}
 .fechar:hover svg{
    stroke: rgba(255, 0, 0, 0.493);
 }
 .trilha {
    position: relative;
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.path {
    position: absolute;
    top: 1%; /* posiciona no meio vertical */
    left: 0;
    width: 9%;
    height: 100%;
    z-index: 2;
    pointer-events: none;
}
.nuvem{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 20vw;
    border-radius: 80%;
}
.image-nuvem{
    border-radius: 100%;
}
.simbolos{
    position: absolute;
}
/* lance do rastro&*/
