@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
    color: rgb(249, 235, 255);
    word-spacing: 7px;
    z-index: 999;
}
body{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
body::before{
    content: '';
    position: absolute;
    inset: 0;
    background-color: rgb(0, 0, 9, 0.7);
    z-index: 1;
}
.telaloguin{
    background-color: transparent;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    position: relative;
    backdrop-filter: blur(19px) brightness(1.5);
    border: 4px solid rgba(112, 56, 185, 0.2);
    background-color: rgba(42, 76, 148, 0.1);

}
.telaloguin .titulocaixa{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
}
.telaloguin .tit{
    font-size: 2em;
}
.partdados{
    width: 100%;
}
.form{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.form input, .form .genero{
    height: 3em;
    width: 100%;
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 6px;
    outline: none;
    background-color: rgba(10, 13, 29, 0.6);
    transition: 0.1S ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.form input:hover, .form input:focus, .form .genero:hover, .form .genero:focus{
    border: 2px solid rgba(137, 43, 226, 0.829);
}
.form .ir{
    width: 25%;
    margin-top: 17px;
    padding: 5px;
    border-radius: 7px;
    background-color: rgba(171, 72, 238, 0.8);
    border: 1px solid rgba(46, 43, 226, 0.4);
}
.form .ir:hover{
    background-color: rgba(172, 72, 238, 0.644);
}
.telaloguin .aviso{
    font-size: 12px;
    margin-top: 2.5em;
    word-spacing: 2px;
}
.telaloguin .aviso a{
    color: #98c4ff;
}
.telaloguin .aviso a:hover{
    color: #c3dcfd;
}
.mensagemerror{
    position: absolute;
    top: 7px;
    left: 7px;
    color: rgb(211, 24, 24);
}
.desenvolvedores{
    position: absolute;
    bottom: 1em;
    left: 2em;
    backdrop-filter: brightness(0.6);
}